$maxWidth: 1320;
@mixin adaptiv-font($maxFontSize, $minFontSize) {
 $addSize: $maxFontSize - $minFontSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$minFontSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
$small-container: calc(39px + (100vw - 320px) / 15.15);
$medium-container: calc(105px + (100vw - 1320px) / 2);
$form-container: calc(390px + (100vw - 1320px) / 2);

html {   
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}

//header
.header.container {
    padding: 20px 15px 0px;
    @media screen and(min-width: 1200px) {
        padding: 0;
    }
}
.header.flex {
    @media screen and(min-width: 800px) {
        flex-direction: row;
        margin: 0px $small-container;
    }
    @media screen and (min-width: 1200px) {
        margin: 0px $medium-container;
    }
}
.flex {
    display: flex;
    flex-direction: column;
}

.header .container_flex_row {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 800px) {
        padding: 52px 0px 71px 0px;
        max-width: 540px;
    }
}
header {
    background-image: url(/src/images/header_bg_shade.png),url(/src/images/header__bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    @media screen  and (min-width: 500px) {
        background-image: url(/src/images/header_bg_shade.png),url(/src/images/header__bg_1200.png);
    }
    @media screen and (min-width: 1200px) {
        background-attachment: fixed;
    }
    @media screen and (min-width: 1600px) {
        background-image: url(/src/images/header_bg_shade.png),url(/src/images/header__bg_1600.png);
    }
}
.header__logo {
    align-self: flex-start;
    @media screen and (min-width: 1200px) {
        margin: 0px 0px 42px 0px;
    }

}
.header__title {
    margin: 0px 0px 20px 0px;
    font-weight: 300;
    line-height: 125%;
    @include adaptiv-font(45,32);
}
.header__description {
    @include adaptiv-font(20,16);
    line-height: 150%;
    font-weight: 300;
    margin-top: 0;
}
.header__button {
    text-decoration: none;
    align-self: flex-start;
    padding: 13px 20px;
    margin-top: 12px;
    border-radius: 50px;
    background-color: #FDB913;
    text-transform: uppercase;
    border: none;
    color: #fff;
    @include adaptiv-font(14,12);
    font-weight: 700;
    letter-spacing: 1px;
}
.header__pic {
    align-self: center;
    @media screen and(min-width: 800px) {
        margin-left: 18%;
        align-self: flex-end;
    }
    @media screen and (min-width: 1600px) {
        margin-left: 11%;
        min-width: 445px;
    }
}

//first Section

.payment {
    background-color: #F8F8F8;
    padding: 40px $small-container 53px;
    @media screen and (min-width: 1320px) {
        padding: 75px $medium-container;
    }
}
.payment>.container.flex { 
    @media screen and (min-width: 1000px) {
        flex-direction: row;
    }
    @media screen and (min-width: 1320px) {
    }
}
.payment>.container.flex>.container_flex_row {
    @media screen and (min-width: 1000px) {
        padding-right: 95px;
        
    }
}
.payment__title {
    margin-top: 0;
    font-weight: 300;
    @include adaptiv-font(35,25);
    line-height: 140%;
    @media screen and (min-width: 1000px) {
        line-height: 129%;
    }
}
.payment__paragraph {
    font-weight: 300;
    @include adaptiv-font(16,14);
    line-height: 157%;
    &:last-child {
        margin-bottom: 18px;
    }
}
.payment__pic-wrapper {
    margin: 0 auto;
}
.payment__pic {
    width: 100%;
    @media screen and (min-width: 1000px) {
        margin-top: -10px;
        width: auto;
    }
    @media screen and (min-width: 1320px) {
        width: 475px;
    }
}

// video

.video>.flex {
    align-items: center;
}
.video__title {
    text-align: center;
    padding: 0px 45px;
    margin: 23px 0px 43px 0px;
    line-height: 120%;
    @include adaptiv-font(35, 25);
    @media screen and (min-width: 1200px) {
        margin-top: 0;
        line-height: 100%;
    }
}
#videoFrame {
    width: 90%;
    height: 46vw;;
    @media screen and (min-width: 1200px) {
        width: 80%;
        height: 517px;
    }
    @media screen and (min-width: 1320px) {
        width: 920px;
    }
}

// Services

.services>.container {
    padding: 40px $small-container;
    @media screen and (min-width: 800px) {
        padding: 65px $small-container;
    }
    @media screen and (min-width: 1320px) {
        padding: 65px $medium-container;
    }
}
.services>.container.flex {
    @media screen and (min-width: 800px) {
        flex-direction: row;
    }
}
.service:not(:last-child) {
    padding-bottom: 35px;
    @media screen and (min-width: 800px) {
        margin-right: 30px;
    }
}
.service:nth-child(1)>.animate__animated {
    --animate-delay: 1s;
} 
.service:nth-child(2)>.animate__animated{
    --animate-delay: 2s;
} 
.service:nth-child(3)>.animate__animated{
    --animate-delay: 3s;
} 
.service__title {
    font-weight: 300;
    @include adaptiv-font(30,20);
    line-height: 150%;
    margin: 20px 0px;
    @media screen and (min-width: 1000px) {
        line-height: 100%;
    }
}
.service__description {
    font-weight: 300;
    @include adaptiv-font(16,14);
    line-height: 143%;
    @media screen and (min-width: 1000px) {
        line-height: 156%;
    }
}

// section four

.section_four {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    @media screen and (min-width: 800px) {
        flex-direction: row;
    }
}
.section_four__pic {
    width: 100%;
    align-self: normal;
    @media screen and (min-width: 800px) {
        width: 50vw;
    }
}
.section_four>.container {
    padding: 40px $small-container;
    background-color: #FDB913;
    @media screen and (min-width: 800px) {
        align-self: normal;
    }
    @media screen and (min-width: 1200px) {
        align-self: stretch;
        padding: 51px $medium-container 51px 110px;
    }
}
.section_four__title {
    @include adaptiv-font(35,25);
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 140%;
    margin-top: 0;
    @media screen and (min-width: 1200px) {
        line-height: 129%;
    }
}
.section_four__description {
    font-weight: 300;
    @include adaptiv-font(16,14);
    line-height: 143%;
    @media screen and (min-width: 1200px) {
        line-height: 156%;
    }
}

//Comments

.comments {
    position: relative;
}
.comment {
    // width: 350px;
}
.comments__title {
    text-align: center;
    font-weight: 300;
    @include adaptiv-font(35,25);
    line-height: 120%;
    @media screen and (min-width: 1200px) {
        line-height: 100%;
    }
}
.comments__text {
    font-style: italic;
    font-weight: 300;
    @include adaptiv-font(18,14);
    line-height: 179%;
    @media screen and (min-width: 1200px) {
        line-height: 167%;
    }
}
.name {
    font-weight: bold;
    @include adaptiv-font(20,14);
    line-height: 125%;
    margin-bottom: 10px;
}
.role {
    font-weight: 300;
    @include adaptiv-font(20,14);
    line-height: 179%;
    margin: 10px 0px;
}
.company {
    font-weight: 300;
    @include adaptiv-font(20,14);
    line-height: 179%;
    margin: 10px 0px;
}

// Start SWIPER
.swiper-container {
    @media screen and (min-width: 1200px) {
        width: 84vw;
    }
    @media screen and (min-width: 1600px) {
        width: 58vw;
    }
  
}
.swiper-button-next-unique {
    position: absolute;
    top: 50%;
    right: 3%;
    box-shadow: -2px 2px 0 black;
    transform: rotate(-135deg);
    width: 16px;
    height: 16px;
    @media screen and(min-width:800px){
        width: 30px;
        height: 30px;
    }
}
.swiper-button-prev-unique {
    position: absolute;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    box-shadow: -2px 2px 0 black;
    top: 50%;
    left: 3%;
    @media screen and(min-width:800px){
        width: 30px;
        height: 30px;
    }
}

// End SWIPER


// Clients

.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 82px;
    & img:not(:last-child) {
        padding-bottom: 35px;
    }
    @media screen and (min-width: 800px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 60px 30px;
    }
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        align-items: center;
        margin: 65px $medium-container;
    }
}
.client:not(:last-child) {
    @media screen and (min-width: 1200px) {
         margin-right: 51px;;
    }
}

// Form

.footer-wrapper {
    background-color:#446A82;
    padding: 60px 0px 50px 0px;
}
.footer_form {
    margin: 40px 15px 0px 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    & input {
        padding: 16px 0px 21px 17px;
        border-radius: 5px;
        border: none;
        line-height: 125%;
    }
    & button {
        padding: 13px 50px;
        background-color:#FDB913;  
        color: #fff;
        border-radius: 50px;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        letter-spacing: .1em;  
        border: none;
        display: block;
        margin: 25px auto 40px;
        @media screen and (min-width: 600px) {
            margin: 25px 0px 40px 0px;
        }
    }
    & footer {
        margin-bottom: 40px;
        font-weight: 300;
        @include adaptiv-font(20,16);
        line-height: 156%;
        @media screen and (min-width: 800px) {
            display: flex;
            align-items: center;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 0px;
        }
    }
    & label {
        font-weight: 300;
        @include adaptiv-font(20,16);
        line-height: 100%;
        margin-bottom: 10px;
        margin-left: 7px;
        @media screen and (min-width: 1200px) {
            margin-bottom: 20px;
        }
    }
    @media screen and (min-width: 900px) {
        margin: 0px 25%;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
        margin: 0px $form-container;
        padding-bottom: 0px;
        padding-top: 0px;
    }
}
.form__title {
    font-weight: 300;
    @include adaptiv-font(35,25);
    line-height: 140%;
    text-align: center;
    @media screen and (min-width: 1200px) {
        line-height: 129%;
        margin-top: 0;
        margin-bottom: 50px;
    }
}
.name-input,.email-input,.warm-words {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.footer_form input, textarea {
    font-weight: 300;
    @include adaptiv-font(20,16);
    line-height: 125%;
    @media screen and (min-width: 800px) {
        line-height: 25px;
    }
}
.name-input,.email-input {
    margin-bottom: 54px;
}
.warm-words textarea {
    padding: 21px 11px 13px 17px;
}
.agreement {
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    align-self: center;  
    @media screen and (min-width: 600px) {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
        align-self: flex-start;    
    }
    & .container_flex_row {
        flex-direction: row;
        & span{
            align-self: center;
            margin-top: 10px;
        }
        @media screen and (min-width: 1200px) {
            padding: 0;
            max-width: inherit;
        }
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
}
.footer-logo {
    display: none;
    @media screen and (min-width: 800px) {
        display: inline-block;
        margin-right: 35px;
    }
}

//Styling the checkbox 

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    background-color: #fff;
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox:checked+label::before {
    background-color: #fff;
    background-image: url("/src/images/icons/checkboxArrow.svg");
  }
  /* Hover checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #e3ffb0;
  }
  /*Active  */
  .custom-checkbox:not(:disabled):active+label::before {
    background-color: #e3ffb0;
    border-color: #e3ffb0;
  }
  /* Focus */
  .custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 1px #FDB913;
  }
  /* Not Checked but focused */
  .custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }
  /* disabled */
  .custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
  }

  // ENd of checkBox Styling

